

.headerStyle
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    margin-bottom: 2.5em

.ulStyle
    display: flex
    flex-direction: column
    align-content: center
    margin-bottom: 2.5em
    height: 400px
    overflow: auto

.liStyle
    display: block
    margin: 10px


.messageContainer
    display: flex
    flex-direction: row-reverse
    align-content: center
    color: #ff0000
    font-size: 25px

.iMassage
    background-color:#ff0000

    
